.roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  background-color: #43387BFB;
  color: #AF9BF7FF;
  font-family: Roboto Mono;
}
